@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}
body {
  margin: 0px;
}
h1 {
  font-size: 76px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
p {
  line-height: 32px;
  font-size: 17px;
}
.first-part {
  background-image: url(../images/drew-coffman-1872.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.container1 {
  background-color: rgba(0, 0, 0, 0.204);
  padding-bottom: 70px;
}
.container-nav {
  margin: 0px 10%;
}
.logo {
  width: 19%;
  display: inline-block;
  vertical-align: middle;
}
.item {
  /* display: inline-block; */
  width: 80%;

  display: inline-block;
  vertical-align: middle;
  /* margin: 15px; */
  /* float: left; */
}
.clr {
  clear: both;
}
.logo img {
  /* border: 3px solid rebeccapurple;
    border-radius:0px 20px  0px 20px; */
  width: 75%;
  max-width: 200px;
}

.inner-item {
  /* width: 80%; */
  text-align: right;
  float: right;
}
.inner-item li {
  display: inline-block;
  margin: 15px;
  color: white;
  text-decoration: none;
}
.inner-item li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.welcome {
  padding-top: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 100px;
}
.welcome p {
  font-size: 24px;
  line-height: 45px;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  background-color: #8e7754;
  color: white;
  border: none;
  font-weight: bold;
  margin: 5px;
  align-content: center;
  
}
.btn:hover{
 background-color: white;
 color: black;
}

.btn2 {
  background-color: transparent;
  border: 2px solid white;
}
.oval {
  width: 25px;
  height: 45px;
  border: 2px solid white;
  border-radius: 25px;
  margin: auto;
  margin-top: 80px;
  /* margin-bottom: 40px; */
}
.second-part {
  background-color: #ffffff;
  margin: 0px 10%;
  padding: 50px 0px;
}
.first-pic {
  width: 45%;
  /* border: #8e7754 1px solid; */
  display: inline-block;
  vertical-align: middle;
}
.second-part img {
  width: 100%;
}
.who-we-are {
  width: 45%;
  display: inline-block;
  margin-left: 9%;
  vertical-align: middle;
}

.inner-container2 p {
  display: inline-block;
  vertical-align: middle;
}
.inner-container2 img {
  display: inline-block;
  width: 7%;
  vertical-align: middle;
  border: #8e7754 solid 1px;
  border-radius: 50%;
  margin-right: 10px;
}
.section-background {
  background-color: #f8f8f8;
}
.third-part,
.fifth-part {
  margin: 0px 10%;
  padding: 50px 0px;
}
.second-pic {
  width: 45%;

  display: inline-block;
  vertical-align: middle;
  margin-left: 9%;
}
.second-pic img,
.second-pic iframe {
  width: 100%;
}
.our-location,
.contact-us {
  width: 45%;
  display: inline-block;

  vertical-align: middle;
}
.fourth-part {
  margin: 0px 10%;
  /* width: 100%; */
  display: inline-block;
  text-align: center;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 50px;
}
.fourth-card {
  width: 33%;
  display: inline-block;
  margin-top: 40px;
}
.fourth-card img {
  width: 100%;
}
/* .fourth-imgs{
    padding: 25px;
} */
.fourth-imgs p {
  padding: 0px 15px;
  font-size: 13px;
}
.fourth-imgs1 {
  padding-right: 20px;
}
.fourth-imgs2 {
  padding-right: 10px;
  padding-left: 10px;
}
.fourth-imgs3 {
  padding-left: 20px;
}
.contact-us img {
  background-color: #8e7754;
  border: none;
  padding: 0%;
}
.footer-background {
  background-color: #403d38;
  width: 100%;
  padding: 20px 0px 30px 0px;
}
.footer {
  margin: 0px 10%;
  color: #969696;
}
.footer h4 {
  color: #ffffff;
}
.footer1 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.footer-p {
  line-height: 25px;
  width: 90%;
  font-size: 16px;
  /* display: inline-block;
  vertical-align: middle; */
}
.footer2 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-left: 10px;
}
.footer3 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
.footer4 {
  /* opacity: 50%; */
  width: 24%;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}
.footer4-background {
  background-image: url(../images/contact-details-map.png);
  background-repeat: no-repeat;
  background-position: center;
  
}
.footer4-background-inner {
  background-color: #403d38da;
}
.footer2 li,
.footer3 li {
  list-style: none;
  padding-bottom: 12px;
  margin-bottom: 12px;
  /* background-image: url(../images/Icons/arrow.png);
   background-repeat: no-repeat;
   background-size: 20px 20px;
   background-position: left center; */
}
.footer3 li img,
.footer2 li img {
  width: 8%;
  vertical-align: middle;
}
.footer3 li span,
.footer2 li span {
  vertical-align: middle;
}
.footer2 ul,
.footer3 ul {
  padding: 0%;
  /* line-height: 35px; */
}
.border-bottom {
  border-bottom: #96969629 solid 1px;
}

.contact-details-element {
  padding: 10px 0px;
}
.contact-details-element a {
  color: #969696;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contact-details-element a:hover {
  color: white;
}
.footer4-background img {
  width: 12%;
  vertical-align: middle;
}
#footer4-p {
  width: 85%;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  font-size: 16px;
}
.final-background {
  background-color: #353330;
  text-align: center;
  /* position: relative; */
  width: 100%;
  /* height: 300px; */
}
.final {
  width: 23%;
  /* height: 40%; */
  /* position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; */
  color: #6f7775;
  margin: auto;
  padding: 70px 0px;

  
}
/* .final-logo {
  width: 40%;
  
} */
.final-logo img {
  width: 100%;
  
}
.social img {
  width: 15%;
  background-color: #484540;
  border-radius: 50%;
}
.social img:hover{
    background-color: #6f7775;
}
.copyright, .social{
    width: 80%;
    margin: auto;
}
.up-btn {
    font-size: 30px;
    width: 50px;
    height: 50px;
    font-weight: 200;
    text-decoration: none;
    color: #969696;
  
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
}

.up-btn a img{
    width: 100%;

}